---
# tasks file for ansible-role-elasticsearch

- include_vars: "{{ ansible_os_family }}.yml"

- include: "install-{{ ansible_os_family }}.yml"

- include: configure.yml

- include: plugins.yml

- name: Start elasticsearch
  service:
    name: elasticsearch
    state: started
    enabled: yes
