cluster.name: {{ elasticsearch_cluster_name }}
node.name: {{ elasticsearch_node_name }}
path.data: {{ elasticsearch_path_data }}
path.logs: {{ elasticsearch_path_logs }}

network.host: {{ elasticsearch_network_host }}
http.port: {{ elasticsearch_http_port }}
http.compression: {{ elasticsearch_http_compression }}

node.master: {{ elasticsearch_node_master }}
node.data: {{ elasticsearch_node_data }}

discovery.zen.ping.multicast.enabled: {{ elasticsearch_discovery_zen_ping_multicast_enabled }}
discovery.zen.ping.unicast.hosts: [ {{ elasticsearch_discovery_zen_ping_unicast_hosts | join(',') }} ] 
network.publish_host: [ {{ elasticsearch_network_publish_host | join(',') }} ]
