cluster.name: {{ elasticsearch_cluster_name }}
node.name: {{ elasticsearch_node_name }}
path.data: {{ elasticsearch_path_data }}
path.logs: {{ elasticsearch_path_logs }}
http.port: {{ elasticsearch_http_port }}
http.compression: {{ elasticsearch_http_compression }}
