# Managed by ansible
{# for es2 #}
JAVA_OPTS="{{ elasticsearch_jvm_options | join(' ') }}"
{# for es5, JAVA_OPTS above is ignored even if set #}
ES_JAVA_OPTS="{{ elasticsearch_jvm_options | join(' ') }}"
